#dependencies

/backend/Node-amazon-server/node_modules/*

/backend/SpringBootAmazonCloneBackend/.idea/*
/backend/SpringBootAmazonCloneBackend/.mvn/*
/backend/SpringBootAmazonCloneBackend/.settings/*

/backend/Ref-online-spring-boot/.idea/*
/backend/Ref-online-spring-boot/.mvn/*
/backend/Ref-online-spring-boot/.settings/*

/frontend/admin-panel/node_modules/*
/frontend/admin-panel/.angular/*
/frontend/user-panel/node_modules/*
/frontend/user-panel/.angular/*

.vscode
.sonar
.scannerwork/
