<div class="card">
  <div class="card-header">
    <a
      class="btn btn-secondary btn-sm"
      routerLink="/dashboard"
      style="float: right"
    >
      Back
    </a>
    <h3>User's Order List</h3>
  </div>
  <div class="card-body" *ngIf="userOrders.length > 0">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Sr No</th>
          <th>User Details</th>
          <th>Total Amount</th>
          <th>Tax</th>
          <th>Payment Type</th>
          <th>Payment Status</th>
          <th>Delivery Status</th>
          <!-- <th>Ordered On</th> -->
          <th style="width: 260px; text-align: center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of userOrders; let index = index">
          <td>{{ index + 1 }}</td>
          <td>{{ order["user"]["user_id"] }} - {{ order["user"]["name"] }}</td>
          <td>{{ order["total_price"] }}</td>
          <td>{{ order["tax"] }}</td>
          <td>{{ order["payment_type"] }}</td>
          <td>{{ order["payment_status"] }}</td>
          <td>{{ order["delivery_status"] }}</td>
          <!-- <td>{{ order["ordered_on"] }}</td> -->
          <td>
            <button
              (click)="showOrderDetails(order)"
              class="btn btn-info btn-sm"
              style="margin-left: 10px; float: right"
            >
              Order Details
            </button>
            <select
              *ngIf="
                order['delivery_status'] != 'Cancelled' &&
                order['delivery_status'] != 'Delivered'
              "
              (change)="changeDeliveryStatus(order['myorder_id'], $event)"
              class="btn btn-success btn-sm dropdown"
              style="width: 130px"
            >
              <option>Change Status</option>
              <option value="Pending">Pending</option>
              <option value="Accepted">Accepted</option>
              <option value="Packing">Packing</option>
              <option value="Delivered">Delivered</option>
              <option value="Cancelled">Cancelled</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
