<div class="card">
  <div class="card-header">
    <a
      class="btn btn-secondary btn-sm"
      routerLink="/dashboard"
      style="float: right"
    >
      Back
    </a>
    <h4>List of Application Users</h4>
  </div>
  <div class="card-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th style="width: 60px">Sr No</th>
          <th style="width: 300px">Name</th>
          <th style="width: 350px">Email</th>
          <th style="width: 250px">Phone</th>
          <th style="width: 100px">Active</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let index = index">
          <td>{{ index + 1 }}</td>
          <td>{{ user["name"] }}</td>
          <td>{{ user["email"] }}</td>
          <td>{{ user["phone"] }}</td>
          <td>{{ user["status"] == 1 ? "Active" : "Inactive" }}</td>
          <td>
            <button
              (click)="toggleActive(user)"
              [class.btn-success]="user['status'] != 1"
              [class.btn-danger]="user['status'] == 1"
            >
              {{ user["status"] == 1 ? "Suspend" : "Activate" }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
