<div class="row bgr-shade" style="margin-bottom: 2px">
  <div class="col-md-12">
    <button
      (click)="loadCartModel()"
      class="btn bgr-shade"
      style="float: right; margin: 10px"
    >
      Cart
    </button>
    <div class="col-md-3" style="float: right; margin: 10px">
      <select class="form-control bgb-shade" (change)="filterProducts($event)">
        <option
          [value]="category['cat_id']"
          *ngFor="let category of categories"
        >
          {{ category["cat_title"] }}
        </option>
      </select>
    </div>
    <h2>Gallery</h2>
  </div>
</div>
<div class="row bgm-shade">
  <div
    class="col-md-3"
    *ngFor="let product of products"
    style="margin: 10px 0px 10px 0px"
  >
    <div class="card bgb-shade">
      <img
      *ngIf="product['photo'] != null"
        class="card-img-top"
        src="http://localhost:8080/product/getImage/{{ product['photo'] }}"
        alt=""
      />
      <img
      *ngIf="product['photo'] == null"
        class="card-img-top"
        src="http://localhost:8080/product/getImage/NoImgAvail.jpg"
        alt=""
      />
      <div class="card-body">
        <h5 class="card-title">{{ product["prod_title"] }}</h5>
        <div class="price">
          <strong>Price: ₹ </strong>{{ product["prod_price"] }}
        </div>
        <div class="brand">
          <strong>Brand: </strong> {{ product["company"]["comp_title"] }}
        </div>
        <div class="category">
          <strong>Category: </strong> {{ product["category"]["cat_title"] }}
        </div>
        <div>
          <h6><strong>Product Quantity :</strong> {{ product["prod_qty"] }}</h6>
        </div>
        <button
          *ngIf="!cartItems.includes(product['prod_id'])"
          style="margin-top: 10px"
          (click)="addToCart(product)"
          class="btn btn-sm bgm-shade"
        >
          Add To Cart
        </button>
        <button
          *ngIf="cartItems.includes(product['prod_id'])"
          style="margin-top: 10px"
          class="btn btn-sm bgr-shade"
          routerLink="/home/product/cart"
        >
          Go To Cart
        </button>
        <a
          routerLink="/home/product/details/{{ product['prod_id'] }}"
          style="margin-top: 10px; float: right"
          class="btn btn-sm bgm-shade"
        >
          Viwe Product
        </a>
      </div>
    </div>
  </div>
</div>
