<div class="row" style="margin-bottom: 40px; margin-top: 10px">
  <div class="col-md-12">
    <button
      (click)="loadCartModel()"
      class="btn btn-success"
      style="float: right"
    >
      Cart
    </button>
    <h2>Gallery</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-2" style="border: 2px greenyellow solid">
    <div class="form-group">
      <label for="" style="font-weight: bold">Filters</label><br />
      <label for="">Category</label>
      <select class="form-control" (change)="filterProducts($event)">
        <option
          [value]="category['cat_id']"
          *ngFor="let category of categories"
        >
          {{ category["cat_title"] }}
        </option>
      </select>
    </div>
  </div>
  <div class="col-md-10" style="border: 1px green solid">
    <div class="row">
      <div
        class="col-md-4"
        *ngFor="let product of products"
        style="margin: 10px 0px 10px 0px"
      >
        <div class="card">
          <img
            class="card-img-top"
            src="http://localhost:8080/product/getImage/{{ product['photo'] }}"
            alt=""
          />
          <div class="card-body">
            <h5 class="card-title">{{ product["prod_title"] }}</h5>
            <div class="price">
              <strong>Price: ₹ </strong>{{ product["prod_price"] }}
            </div>
            <div class="brand">
              <strong>Brand: </strong> {{ product["company"]["comp_title"] }}
            </div>
            <div class="category">
              <strong>Category: </strong> {{ product["category"]["cat_title"] }}
            </div>
            <div><h6><strong>Product Quantity :</strong> {{ product["prod_qty"] }}</h6></div>
            <button
              style="margin-top: 10px"
              (click)="addToCart(product)"
              class="btn btn-success btn-sm"
            >
              Add to cart
            </button>
            <a
              routerLink="/home/product/details/{{ product['prod_id'] }}"
              style="margin-top: 10px; float: right"
              class="btn btn-info btn-sm"
            >
              Viwe Product
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
