<div class="card">
  <div class="card-header bgr-shade">
    <h4>Upload Image</h4>
  </div>
  <div class="card-body bgb-shade">
    <div class="form-group">
      <label for="selectImage">Select Image</label>
      <input
        (change)="onImageSelect($event)"
        type="file"
        class="form-control"
      />
    </div>
  </div>
  <div class="card-footer bgb-shade">
    <button (click)="onUploadImage()" class="btn bgm-shade">Upload</button>
    <a
      style="margin-left: 10px"
      routerLink="/product-list"
      class="btn bgr-shade"
      >Cancel</a
    >
  </div>
</div>
