<h1 class="bgr-shade" style="text-align: center; margin-bottom: 50px; padding: 20px;">Sign Up Here</h1>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 bgb-shade" style="padding: 60px;">
    <div class="form">
      <div class="form-group">
        <label for="">Full Name</label>
        <input [(ngModel)]="name" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="">Phone Number</label>
        <input [(ngModel)]="phone" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="">Email</label>
        <input [(ngModel)]="email" type="email" class="form-control" />
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input [(ngModel)]="password" type="password" class="form-control" />
      </div>
      <div class="form-group" style="margin-top: 10px">
        <button (click)="onSignup()" class="btn bgr-shade">Sign Up</button>
        <a routerLink="/auth/login" class="btn bgr-shade" style="float: right"
          >login</a
        >
      </div>
    </div>
  </div>
</div>
